:root {
    /* Background colors */
    --primary-color: hsl(30, 38%, 92%);
    --secondary-color: hsl(0, 0%, 100%);


    /* Text colors */
    --primary-text-color: hsl(158, 36%, 37%);
    --discount: hsl(212, 21%, 14%);
    --greyish: hsl(228, 12%, 48%);

    /* Font size */
    --text-paragraph: 14px;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Fraunces', serif;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 500px;
    background-color: var(--secondary-color);
    border-radius: 15px;
    /* box-shadow: 1px 1px 1px var(--greyish); */
}

/* @media (max-width: 900px) {
    .container {
        flex-direction: column;
        width: 300px;
        height:500px;
    }
} */

.container .image {
    height: 100%;
    width: 55%;
}

.image img {
    height: 100%;
    margin-right: 50px;
}

.image .product-image {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}


.container .text-content {
    display: inline-block;
    margin-right: 50px;
    height: 100%;
    margin-top: 30px;;
}

.text-content h3 {
    color: var(--greyish);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 15px;
    margin: 20px 0;
    font-family: 'Montserrat', sans-serif;
}

.text-content h2 {
    color: var(--discount);
    font-size: 2em;
    font-weight: 800;
    margin: 20px 0;
    font-family: 'Fraunces', serif;
}

.text-content p {
    color: var(--greyish);
    font-size: var(--text-paragraph);
    line-height: 1.8;
    margin: 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}


.price-box {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    margin: 25px auto;
}

.price-box .discount h4 {
    color: var(--primary-text-color);
    font-size: 30px;
    margin-right: 20px;
    font-family: 'Fraunces', serif;
}

.price-box .price h5 {
    color: var(--greyish);
    text-decoration: line-through;
    font-size: 12px;
}

.cart {
    background-color: var(--primary-text-color);
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
}

.cart:hover {
    background-color: #003300;    
}


.cart a {
    text-decoration: none;
    color: var(--secondary-color);
    padding: 15px 5px;
}

.cart span {
    padding: 0 5px;
}